
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #232323;

}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: teko;
}
.text-center{
    color: white;
    font-family: teko;
    font-size: 50px;
    padding: 10px;
}
.col2{
    padding: 0px;
    height: 60px;
    font-size: 50px;
}
.col1{
    height: 50px;
}
.col3{

    height: 40px;
}
.col-12{
    color: rgb(0, 0, 0);
    font-family: teko;
    font-size: 25px;
    border-radius: 10px;
    padding-top: 10px;
}
.salasPassar{
    color: black;
}

.p-3{
    border-radius: 15px;
}
a{
    list-style: none;
    color: white;
    text-decoration-line: none;
    
}

a:hover{
    color: #5198D2;
}

.form-control{
    margin: auto !important;
}
.row{
    width: 100%;
    margin-left: 0.2px;
}
.cadeado-desbloqueado{
    width: 20px;   
}
.pessoas{
    width: 20px;
}
.sair-chat{
    margin-top: 100px;
}

.form-control-lg{
    width: 100%;
    margin-top: 500px  !important; 
    
}

.logo{
    width: 100px;
}

.logoPessoa{
    width: 100px;
}

p{
    margin-left: 20px;
    color: white;
    font-size: 20px;
    font-family: teko;

}

.nomeUser{
    font-size: 20px;

}

.nomeSala{
    font-size: 50px;
    color: #5198D2;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.header {
    text-align: center;
    padding: 20px;
}

.input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #232323;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group{
    padding: 8px;
}
.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.btn{
    color: #5198D2 !important;
    
    
}


.nomeChat{
    padding: 0PX;
    margin: 0px;
}

.nomeChatD{
    padding: 0PX;
    margin: 0px;
    text-align: right;
}

.direito { 
    text-align: right; 
}
