
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #232323;
    width: 100%;
    height: 100%;

}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: teko;
}
.text-center{
    color: white;
    font-family: teko;
    font-size: 40px;
    padding: 10px;
}
.col2{
    padding: 7px;
    height: 60px;
    font-size: 50px;
}
.col1{
    height: 50px;
}
.col3{

    height: 40px;
}
.col-12{
    color: rgb(0, 0, 0);
    font-family: teko;
    font-size: 25px;
    border-radius: 10px;
    padding-top: 10px;
}
.p-3{
    border-radius: 15px;
}
a{
    list-style: none;
    color: white;
    text-decoration-line: none;
}
a:hover{
    
    color: #5198D2;
    
}
.form-control{
    margin: auto !important;
}
.row{
    width: 100%;
    margin-left: 0.2px;
}
.cadeado-desbloqueado{
    width: 20px;   
}
.pessoas{
    width: 20px;
}
.sair-chat{
    margin-top: 100px;
}